<label>Server Name</label>
<h3>Event Binding</h3>
<input
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)">
<p>{{ serverName }}</p>
<h3>Two-way Binding (ngModel)</h3>
<input
    type="text" 
    class="form-control"
    [(ngModel)]="serverName">
<p>{{ serverName }}</p>
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer" 
(click)="onCreateServer()"
><strong>+</strong> New Server</button>
<span class="badge badge-warning" *ngIf="serverCreated">{{ serverCreationStatus }}</span>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>
<app-server></app-server>

